@charset "UTF-8";

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
main#link{
background: url(img/pexels-rostislav-uzunov-5011647.jpg);
}

  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }
  
  section {
    padding: 50px;
  }
  
  h2 {
    color: #f3f3f3;
  }
  
  .project {
    margin-bottom: 20px;
  }
  
.foto{
  
}

p{
  color: #fff;
}

  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    header nav ul li {
      display: block;
      margin-bottom: 10px;
    }
  }